In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("../Datasets/DisasterDeclarationsSummaries.csv")

In [12]:
df.shape

(51016, 19)

In [13]:
df.head()

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh,id
0,1,0,1,1,1,GA,1953-05-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,1954-06-01T00:00:00.000Z,NaN,NaN,1dcb40d0664d22d39de787b706b0fa69,2019-07-26T18:08:57.368Z,5d1bbd8c8bdcfa6efb32fd8d
1,2,0,1,1,1,TX,1953-05-15T00:00:00.000Z,1953,DR,Tornado,TORNADO & HEAVY RAINFALL,1953-05-15T00:00:00.000Z,1953-05-15T00:00:00.000Z,1958-01-01T00:00:00.000Z,NaN,NaN,61612cea5779e361b429799098974b6a,2019-07-26T18:08:57.370Z,5d1bbd8c8bdcfa6efb32fd8e
2,3,0,1,1,1,LA,1953-05-29T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,1960-02-01T00:00:00.000Z,NaN,NaN,86f3e47785cb7acc51364d4535d36101,2019-07-26T18:08:57.369Z,5d1bbd8c8bdcfa6efb32fd8f
3,6,0,1,1,1,MI,1953-06-09T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-09T00:00:00.000Z,1953-06-09T00:00:00.000Z,1956-03-30T00:00:00.000Z,NaN,NaN,2208518c84c44f8e4164248d47f89ead,2019-07-26T18:08:57.369Z,5d1bbd8c8bdcfa6efb32fd92
4,4,0,1,1,1,MI,1953-06-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-02T00:00:00.000Z,1953-06-02T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,1dbe5937a01fc74c8e699912e3f555cb,2019-07-26T18:08:57.370Z,5d1bbd8c8bdcfa6efb32fd91

In [14]:
df = df.loc[df['state'] == 'FL']

In [15]:
df = df.loc[df["incidentType"] == "Hurricane"]

In [19]:
df['declaredCountyArea'].unique()

array([nan, 'Collier (County)', 'Broward (County)', 'Glades (County)',
       'Martin (County)', 'St. Lucie (County)', 'Hendry (County)',
       'Palm Beach (County)', 'Monroe (County)', 'Lee (County)',
       'Dade (County)', 'St. Johns (County)', 'Citrus (County)',
       'Duval (County)', 'Manatee (County)', 'Charlotte (County)',
       'Putnam (County)', 'Sarasota (County)', 'Hillsborough (County)',
       'Marion (County)', 'Hernando (County)', 'Sumter (County)',
       'Pinellas (County)', 'Pasco (County)', 'Franklin (County)',
       'Levy (County)', 'Calhoun (County)', 'Wakulla (County)',
       'Liberty (County)', 'Gadsden (County)', 'Okaloosa (County)',
       'Dixie (County)', 'Bay (County)', 'Gulf (County)', 'Leon (County)',
       'Santa Rosa (County)', 'Walton (County)', 'Escambia (County)',
       'Washington (County)', 'Jackson (County)', 'Jefferson (County)',
       'Holmes (County)', 'Osceola (County)', 'Brevard (County)',
       'Flagler (County)', 'Okeechobee (County)', 'DeSoto (County)',
       'Polk (County)', 'Hardee (County)', 'Lake (County)',
       'Clay (County)', 'Lafayette (County)', 'Volusia (County)',
       'Suwannee (County)', 'Baker (County)', 'Hamilton (County)',
       'Madison (County)', 'Nassau (County)', 'Indian River (County)',
       'Taylor (County)', 'Columbia (County)', 'Gilchrist (County)',
       'Highlands (County)', 'Seminole (County)', 'Bradford (County)',
       'Alachua (County)', 'Miami-Dade (County)', 'Orange (County)',
       'Union (County)', 'Hollywood Indian Reservation',
       'Immokalee Indian Reservation', 'Big Cypress Indian Reservation',
       'Brighton Indian Reservation', 'Fort Pierce Indian Reservation',
       'Tampa Reservation'], dtype=object)

In [16]:
df['declaredCountyArea'].groupby(by=df['declaredCountyArea']).count().so

declaredCountyArea
Alachua (County)                   9
Baker (County)                    10
Bay (County)                      19
Big Cypress Indian Reservation     2
Bradford (County)                  9
                                  ..
Union (County)                     9
Volusia (County)                  15
Wakulla (County)                  17
Walton (County)                   16
Washington (County)               13
Name: declaredCountyArea, Length: 74, dtype: int64

In [8]:
df['title'].str.contains('HURRICANE GUSTAV').sort_values(ascending=False)

24997     True
38788     True
33799     True
32323     True
36466     True
         ...
41583    False
41551    False
41530    False
41457    False
121      False
Name: title, Length: 930, dtype: bool

In [20]:
df.head(2)

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh,id
121,106,0,1,1,1,FL,1960-09-12T00:00:00.000Z,1960,DR,Hurricane,HURRICANE DONNA,1960-09-12T00:00:00.000Z,1960-09-12T00:00:00.000Z,1962-05-24T00:00:00.000Z,NaN,NaN,d27e9b8e67c9ceea1a5cd477e7e4a84a,2019-07-26T18:08:57.504Z,5d1bbd8f8bdcfa6efb32fdff
165,175,0,1,1,1,FL,1964-09-08T00:00:00.000Z,1964,DR,Hurricane,HURRICANE CLEO,1964-09-08T00:00:00.000Z,1964-09-08T00:00:00.000Z,1966-01-18T00:00:00.000Z,NaN,NaN,5fd452f767dc96afd6a98713a0c2eeb1,2019-07-26T18:08:57.505Z,5d1bbd908bdcfa6efb32fe3c