In [1]:
import pandas as pd

In [2]:
fl_income = pd.read_csv("../Datasets/fl_income_pop_zip_county.csv", index_col="Unnamed: 0")
fl_hurriance = pd.read_csv("../Datasets/fl_hurricane.csv", index_col="Unnamed: 0")
fl_merge = pd.read_csv("../Datasets/fl_data_merge.csv")

In [3]:
fl_income.head(1)

      zipcode  tot_income state  population            city county
4904    32003     1143458    FL       29247  FLEMING ISLAND   Clay

In [4]:
fl_hurriance.head(1)

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
212,4399.0,Yes,No,Yes,Yes,FL,10/11/2018,DR,Hurricane,HURRICANE MICHAEL,2018-10-07,2018-10-19,99005.0,Bay (County),18115.0,12 days 00:00:00.000000000,2018Q4

In [5]:
fl_merge.head(1)

,time,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,...,HirAEndReplr,HirAs,Payroll,Unnamed: 0.1,county,county_codes,county_name,state,state_abv,time_y
0,1965-09-14,209.0,No,Yes,Yes,Yes,FL,9/14/1965,DR,Hurricane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(fl_income.shape)
print(fl_hurriance.shape)
print(fl_merge.shape)

(1112, 6)
(804, 17)
(4824, 48)

In [7]:
fl_hurriance.columns

Index(['Disaster Number', 'IH Program Declared', 'IA Program Declared',
       'PA Program Declared', 'HM Program Declared', 'State ',
       'Declaration Date', 'Disaster Type', 'Incident Type', 'Title',
       'Incident Begin Date', 'Incident End Date', 'Place Code',
       'Declared County/Area', 'Declaration Request Number',
       'Incident Duration Days', 'time'],
      dtype='object')

In [8]:
fl_hurriance = fl_hurriance.drop(columns=['IH Program Declared', 'IA Program Declared',
       'PA Program Declared', 'HM Program Declared', 'State ', "Disaster Number", 'Disaster Type', "Declaration Date", "Incident Type", "Declaration Request Number"])

In [9]:
fl_hurriance

,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Incident Duration Days,time
212,HURRICANE MICHAEL,2018-10-07,2018-10-19,99005.0,Bay (County),12 days 00:00:00.000000000,2018Q4
213,HURRICANE MICHAEL,2018-10-07,2018-10-19,99013.0,Calhoun (County),12 days 00:00:00.000000000,2018Q4
214,HURRICANE MICHAEL,2018-10-07,2018-10-19,99037.0,Franklin (County),12 days 00:00:00.000000000,2018Q4
215,HURRICANE MICHAEL,2018-10-07,2018-10-19,99039.0,Gadsden (County),12 days 00:00:00.000000000,2018Q4
216,HURRICANE MICHAEL,2018-10-07,2018-10-19,99045.0,Gulf (County),12 days 00:00:00.000000000,2018Q4
...,...,...,...,...,...,...,...
47751,HURRICANE BETSY,1965-09-14,1965-09-14,99071.0,Lee (County),0 days 00:00:00.000000000,1965Q3
47752,HURRICANE BETSY,1965-09-14,1965-09-14,99085.0,Martin (County),0 days 00:00:00.000000000,1965Q3
47753,HURRICANE BETSY,1965-09-14,1965-09-14,99087.0,Monroe (County),0 days 00:00:00.000000000,1965Q3
47754,HURRICANE BETSY,1965-09-14,1965-09-14,99099.0,Palm Beach (County),0 days 00:00:00.000000000,1965Q3
47755,HURRICANE BETSY,1965-09-14,1965-09-14,99111.0,St. Lucie (County),0 days 00:00:00.000000000,1965Q3

In [10]:
len(fl_hurriance['Title'].unique())

33

In [11]:
fl_hurriance["Declared County/Area"] = fl_hurriance["Declared County/Area"].str.replace(r"[()]","")

In [12]:
len(fl_hurriance['Declared County/Area'].unique())

74

In [13]:
fl_hurriance.dtypes

Title                      object
Incident Begin Date        object
Incident End Date          object
Place Code                float64
Declared County/Area       object
Incident Duration Days     object
time                       object
dtype: object

In [14]:
fl_hurriance['Incident Duration Days'][212]

'12 days 00:00:00.000000000'

In [15]:
fl_hurriance['Incident Duration Days'] = fl_hurriance['Incident Duration Days'].str.replace(' 00:00:00.000000000', '', regex=True)

In [16]:
fl_hurriance['Incident Duration Days'] = fl_hurriance['Incident Duration Days'].str.replace(' days',"",regex=True)

In [17]:
fl_hurriance['Incident Duration Days'] = fl_hurriance['Incident Duration Days'].astype(int)

In [18]:
fl_hurriance = fl_hurriance.drop(columns=["Incident Begin Date", "Incident End Date"])

In [19]:
len(fl_hurriance['time'].unique())

21

In [20]:
len(fl_hurriance['Title'].unique())

33

In [21]:
fl_hurriance.columns

Index(['Title', 'Place Code', 'Declared County/Area', 'Incident Duration Days',
       'time'],
      dtype='object')

In [22]:
fl_income.columns

Index(['zipcode', 'tot_income', 'state', 'population', 'city', 'county'], dtype='object')

In [132]:
fl_hurriance['time'].unique()

array(['2018Q4', '2017Q4', '2017Q3', '2016Q4', '2016Q3', '2012Q3',
       '2008Q3', '2005Q4', '2005Q3', '2004Q3', '1999Q4', '1999Q3',
       '1998Q3', '1995Q4', '1995Q3', '1992Q3', '1985Q4', '1985Q3',
       '1979Q3', '1968Q4', '1965Q3'], dtype=object)

In [24]:
fl_income[fl_income.duplicated(subset=['zipcode'])]

      zipcode  tot_income state  population                city      county
4906    32008       90021    FL        5144            BRANFORD   Lafayette
4907    32008       90021    FL        5144            BRANFORD    Suwannee
4911    32024      378188    FL       19442           LAKE CITY    Suwannee
4918    32043     1019886    FL       24908  GREEN COVE SPRINGS      Putnam
4924    32054      185008    FL       11669         LAKE BUTLER       Union
...       ...         ...   ...         ...                 ...         ...
6001    34974      467742    FL       22941          OKEECHOBEE   Highlands
6002    34974      467742    FL       22941          OKEECHOBEE      Martin
6003    34974      467742    FL       22941          OKEECHOBEE  Okeechobee
6011    34990     1601819    FL       28134           PALM CITY   St. Lucie
6013    34994      448280    FL       16955              STUART   St. Lucie

[152 rows x 6 columns]

In [25]:
fl_income

      zipcode  tot_income state  population            city     county
4904    32003     1143458    FL       29247  FLEMING ISLAND       Clay
4905    32008       90021    FL        5144        BRANFORD  Gilchrist
4906    32008       90021    FL        5144        BRANFORD  Lafayette
4907    32008       90021    FL        5144        BRANFORD   Suwannee
4908    32009       82188    FL        3481      BRYCEVILLE     Nassau
...       ...         ...   ...         ...             ...        ...
6011    34990     1601819    FL       28134       PALM CITY  St. Lucie
6012    34994      448280    FL       16955          STUART     Martin
6013    34994      448280    FL       16955          STUART  St. Lucie
6014    34996     1183626    FL       11039          STUART     Martin
6015    34997     1512921    FL       42971          STUART     Martin

[1112 rows x 6 columns]

In [26]:
len(fl_income['county'].unique())

67

In [27]:
fl_hurriance["Declared County/Area"] = fl_hurriance["Declared County/Area"].str.replace(" County","")

In [28]:
fl_income['county'] = fl_income['county'].str.lower()

In [32]:
fl_hurriance['county'] = fl_hurriance["Declared County/Area"].str.lower()

In [37]:
fl_hurriance = fl_hurriance.drop(columns='Declared County/Area')

KeyError: "['Declared County/Area'] not found in axis"

In [156]:
array_hurricane = fl_hurriance['county'].unique()

In [157]:
array_income = fl_income['county'].unique()

In [158]:
unwanted_counties = []
for i in range(70):
    if (sum(array_hurricane[i] == array_income)!= 1):
        unwanted_counties.append(array_hurricane[i])

IndexError: index 68 is out of bounds for axis 0 with size 68

In [159]:
unwanted_counties

['dade']

In [180]:
fl_hurriance['county'].loc[fl_hurriance['county'].str.contains('reservation')]

Series([], Name: county, dtype: object)

In [181]:
mask = fl_hurriance['county'].loc[fl_hurriance['county'].str.contains('reservation')]

In [149]:
fl_hurriance = fl_hurriance.drop(labels=[918, 919, 920, 921, 922, 923, 1412])

In [179]:
fl_hurriance['Title'].groupby(by=fl_hurriance["Title"]).count()

Title
 HURRICANE EARL                                  6
FL-HURRICANE IRENE-DR-REQ                       19
HURRICANE ANDREW                                 4
HURRICANE BETSY                                 10
HURRICANE DENNIS                                20
HURRICANE ELENA                                  7
HURRICANE ERIN                                   6
HURRICANE FLOYD EMERGENCY DECLARATIONS          12
HURRICANE FLOYD MAJOR DISASTER DECLARATIONS     12
HURRICANE FRANCES                               67
HURRICANE FREDERIC                               5
HURRICANE GEORGES                               17
HURRICANE GLADYS                                14
HURRICANE GRORGES                               34
HURRICANE GUSTAV                                 6
HURRICANE HERMINE                               26
HURRICANE IKE                                    1
HURRICANE IRMA                                 134
HURRICANE ISAAC                                 12
HURRICANE IVAN                                  45
HURRICANE JEANNE                                53
HURRICANE KATE                                   8
HURRICANE KATRINA                               11
HURRICANE KATRINA EVACUATION                    67
HURRICANE MATTHEW                               46
HURRICANE MICHAEL                               18
HURRICANE NATE                                   2
HURRICANE OPAL                                  15
HURRICANE WILMA                                 20
TROPICAL STORM BONNIE AND HURRICANE CHARLEY     67
TROPICAL STORM IRENE - FLORIDA                  29
TROPICAL STORM RITA                              4
Name: Title, dtype: int64

In [190]:
fl_hurriance[['Title','time']]

        Title
time
1965Q3     10
1968Q4     14
1979Q3      5
1985Q3      7
1985Q4      8
1992Q3      4
1995Q3      6
1995Q4     15
1998Q3     57
1999Q3     24
1999Q4     48
2004Q3    232
2005Q3    102
2005Q4     20
2008Q3      7
2012Q3     12
2016Q3     26
2016Q4     46
2017Q3    134
2017Q4      2
2018Q4     18

In [191]:
mask = (fl_hurriance['time'] > '2003-1-1')

In [194]:
fl_hurricane = fl_hurriance.loc[mask]

In [197]:
len(fl_hurricane['Title'].unique())

17

In [206]:
fl_hurricane_dropdup = fl_hurricane.drop_duplicates(subset="Place Code")

In [208]:
fl_hurricane_dropdup['time'].unique()

array(['2018Q4', '2017Q4', '2017Q3'], dtype=object)

In [212]:
fl_hurricane_irma = fl_hurricane.loc[fl_hurriance['time'] == '2017Q3']

In [214]:
len(fl_hurricane_irma['county'].unique())

67

In [219]:
fl_hurricane_irma = fl_hurricane_irma.drop_duplicates(subset='county')

In [224]:
fl_hurricane_irma_merge = fl_hurricane_irma.drop(columns=['Place Code', 'time'])

In [225]:
fl_hurricane_irma_merge.columns

Index(['Title', 'Incident Duration Days', 'county'], dtype='object')

In [226]:
fl_income.columns

Index(['zipcode', 'tot_income', 'state', 'population', 'city', 'county'], dtype='object')

In [229]:
fl_income.head()

      zipcode  tot_income state  population            city     county
4904    32003     1143458    FL       29247  FLEMING ISLAND       clay
4905    32008       90021    FL        5144        BRANFORD  gilchrist
4906    32008       90021    FL        5144        BRANFORD  lafayette
4907    32008       90021    FL        5144        BRANFORD   suwannee
4908    32009       82188    FL        3481      BRYCEVILLE     nassau

In [231]:
fl_income_merge = fl_income.drop(columns=['zipcode', 'state', 'city'])

In [235]:
fl_income_merge.shape

(1112, 3)

In [237]:
fl_income_merge = fl_income_merge.drop_duplicates(subset='county')

In [239]:
df = pd.merge(fl_hurricane_irma_merge, fl_income_merge, on='county')

In [240]:
df.to_csv('fl_irma_pop_income.csv')