In [1]:
import pandas as pd

In [2]:
income = pd.read_csv('./complete.csv')

FileNotFoundError: [Errno 2] File b'./complete.csv' does not exist: b'./complete.csv'

In [3]:
income.drop(columns=['lat', 'lon'])

       zipcode  tot_income state  population        city      county
0        35004      290260    AL       10418       MOODY   St. Clair
1        35005      121690    AL        7708  ADAMSVILLE   Jefferson
2        35006       57418    AL        3099       ADGER   Jefferson
3        35006       57418    AL        3099       ADGER  Tuscaloosa
4        35006       57418    AL        3099       ADGER      Walker
...        ...         ...   ...         ...         ...         ...
40256    83123       16423    WY         478    LA BARGE     Lincoln
40257    83126       10687    WY         330       SMOOT     Lincoln
40258    83127      109088    WY        3378      THAYNE     Lincoln
40259    83128       88463    WY        1253      ALPINE     Lincoln
40260    83414       44409    WY         604        ALTA       Teton

[40261 rows x 6 columns]

In [9]:
df = income.drop(['lat','lon'],axis = 1)[income['state'] == 'FL']

In [10]:
df.to_csv("./fl_income_pop_zip_county.csv")