In [1]:
import pandas as pd

In [2]:
income = pd.read_csv('./complete.csv')

In [4]:
income.head()

,zipcode,tot_income,state,population,city,county,lat,lon
0,35004,290260,AL,10418,MOODY,St. Clair,33.603417,-86.493795
1,35005,121690,AL,7708,ADAMSVILLE,Jefferson,33.595950,-87.000649
2,35006,57418,AL,3099,ADGER,Jefferson,33.422765,-87.209730
3,35006,57418,AL,3099,ADGER,Tuscaloosa,33.422765,-87.209730
4,35006,57418,AL,3099,ADGER,Walker,33.422765,-87.209730

In [9]:
df = income.drop(['lat','lon'],axis = 1)[income['state'] == 'FL']

In [10]:
df.to_csv("./fl_income_pop_zip_county.csv")